html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}


@font-face {
	font-family: Vazir;
	src: url('./assets/fonts/vazir-font/eot/Vazir-FD.eot');
	src: url('./assets/fonts/vazir-font/eot/Vazir-FD.eot?#iefix') format('embedded-opentype'),
	   url('./assets/fonts/vazir-font/woff2/Vazir-FD.woff2') format('woff2'),
	   url('./assets/fonts/vazir-font/woff/Vazir-FD.woff') format('woff'),
	   url('./assets/fonts/vazir-font/ttf/Vazir-FD.ttf') format('truetype');
	font-weight: normal;
	}


	@font-face {
		font-family: Vazir;
		src: url('./assets/fonts/vazir-font/eot/Vazir-Bold-FD.eot');
		src: url('./assets/fonts/vazir-font/eot/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
		   url('./assets/fonts/vazir-font/woff2/Vazir-Bold-FD.woff2') format('woff2'),
		   url('./assets/fonts/vazir-font/woff/Vazir-Bold-FD.woff') format('woff'),
		   url('./assets/fonts/vazir-font/ttf/Vazir-Bold-FD.ttf') format('truetype');
		font-weight: bold;
   }


body {
  background-color: #040714;
  color: #f9f9f9;
  font-family: Vazir, sans-serif !important;
  font-weight: normal;

  margin: 0;
  padding: 0;
}


a {
  color: #f9f9f9;
  text-decoration: none;
}



@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 479px) {
  body {
      font-size: 14px;
  }
}